body {
    margin: 0;
}

.rivi {
    display: flex;
    flex-direction: row;
    background-color: violet;
    border: solid 1px black;
    padding: 7px;
}

.sarake {
    display: flex;
    flex-direction: column;
    background-color: green;
    border: solid 1px black; 
    padding: 7px;
}

.nav {
    justify-content: space-around;
}

.nav-item {
    align-items: center;
}

.nav-item-hae {
    justify-content: space-between;
}